#start_screen {
	-fx-background-image: url("/images/silk.png");
	-fx-background-color: black;
	-fx-background-repeat: stretch;
	-fx-background-position: 0 center;
}

#main_title {
    -fx-font: 100px Verdana;
    -fx-fill: linear-gradient(from 0% 0% to 200% 200%, repeat, steelblue 0%, white 50%);
    -fx-stroke: linear-gradient(from 0% 0% to 200% 200%, repeat, steelblue 0%, white 50%);
    -fx-stroke-width: 1;
}

#make_game_title {
    -fx-font: 30px Verdana;
    -fx-fill: linear-gradient(from 0% 0% to 200% 200%, repeat, steelblue 0%, white 50%);
    -fx-stroke: linear-gradient(from 0% 0% to 200% 200%, repeat, steelblue 0%, white 50%);
    -fx-stroke-width: 1;	
}

#game_select_screen {
	-fx-background-image: url("/images/blue.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: 0 center;
}

#make_game_screen {
	-fx-background-image: url("/images/gray.jpg");	
    -fx-width: 400;
}

#default_authoring_label {
    -fx-font: 24px Verdana;
}

#default_authoring_title {
    -fx-font: 36px Verdana;
}
.title_button {
    -fx-font: 48px Verdana;
    -fx-text-fill: steelblue;
    -fx-pref-width: 500px;
    -fx-pref-height: 100px;
    -fx-background-color: black;
}

.title_button:hover {
    -fx-background-image:none;
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.image_button {
    -fx-font: 24px Verdana;
    -fx-text-fill: black;
    -fx-background-color: orange;
}


.image_button:hover {
	-fx-background-image:none;
	-fx-border-width: 2px;
	-fx-border-color: white;
}





